h4 {
	color: #361D2E;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

h6 {
	color: #CDA073;
}

a {
	color: #86A397;
}

a:hover {
	color: #7A958A;
}

svg {
	height: 600px;
    width: 100%;
}

path, line {
    stroke: #777;
}

.bio h6 {
	font-style: italic;
}

.container {
	margin: 6.5% auto 6.5%;
}

.credit, .nav-link {
	font-size: .8em;
	font-weight: bold;
}

.icon, .nav-link {
	text-decoration: none;
}

.icon .fa {
	margin: 6px auto auto 10px;
}

.nav-link {
	font-weight: bold;
	letter-spacing: .2rem;
	margin: 6px auto auto 30px;
	text-transform: uppercase;
}
